div.more-link.ckeditor-more-link {
  width: 100%;
  margin-bottom: 30px;
}

.cke_editable div.more-link.ckeditor-more-link a {
  text-decoration: none !important;
  min-width: 23.13167%;
}

div.more-link.ckeditor-more-link a {
  width: 0 !important;
  text-decoration: none !important;
  padding-right: 110px;
}

.more-link {
  min-width: 23.13167%;
  float: left;
}
